<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; <a href="https://www.clir.org">CLIR</a></p>
  </div>
</footer>
